<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsdaaa.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.dsdaaa.domain.Category">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="image_url" column="image_url" jdbcType="VARCHAR"/>
        <result property="parent_id" column="parent_id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="order_num" column="order_num" jdbcType="INTEGER"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,image_url,
        parent_id,status,order_num,
        create_time,update_time,is_deleted
    </sql>
</mapper>
